:host {
	/* Variables */
	--line-height: var(--kui-button-line-height, 1.5);
	--font-family: var(--kui-button-font-family, "Roboto" ,"sans-serif");
	--font-weight: var(--kui-button-font-weight, 400);
	--font-size: var(--kui-button-font-size, 1.25rem);
	--font-size-small: var(--kui-button-small-font-size, 0.75rem);
	--font-size-large: var(--kui-button-large-font-size, 1.25rem);

	--padding-left: var(--kui-button-padding-left, 10px);
	--padding-right: var(--kui-button-padding-right, 10px);
	--padding-top: var(--kui-button-padding-top, 5px);
	--padding-bottom: var(--kui-button-padding-bottom, 5px);

	--margin-left: var(--kui-button-margin-left, 0px);
	--margin-right: var(--kui-button-margin-right, 0px);
	--margin-top: var(--kui-button-margin-top, 0px);
	--margin-bottom: var(--kui-button-margin-bottom, 0px);

	--border-size: var(--kui-button-border-width, 2px);
	--border-style: var(--kui-button-border-style, solid);
	--border-color: var(--kui-button-border-color, transparent);
	--border-radius: var(--kui-button-border-radius, 2px);

	--default-text-color: var(--kui-button-default-text-color, #525a62);
	--default-text-color-hover: var(--kui-button-default-text-color-hover, #525a62);
	--default-text-color-disabled: var(--kui-button-default-text-color-disabled, #525a62);
	--default-text-color-active: var(--kui-button-default-text-color-active, #525a62);
	--default-bg-color: var(--kui-button-default-bg-color, #f6f6f6);
	--default-bg-color-hover: var(--kui-button-default-bg-color-hover, #e3e3e3);
	--default-bg-color-disabled: var(--kui-button-default-bg-color-disabled, #f6f6f6);
	--default-bg-color-active: var(--kui-button-default-bg-color-active, #dddcdc);
	--default-border-color: var(--kui-button-default-border-color, #f6f6f6);
	--default-border-color-hover: var(--kui-button-default-border-color-hover, #dddcdc);
	--default-border-color-disabled: var(--kui-button-default-border-color-disabled, #f6f6f6);
	--default-border-color-active: var(--kui-button-default-border-color-active, #d6d6d6);
	--default-box-shadow: var(--kui-button-default-box-shadow, 0 0 0 0 rgba(221, 223, 224, 0.5));
	--default-box-shadow-active: var(--kui-button-default-box-shadow-active, 0 0 0 0 rgba(221, 223, 224, 0.5));

	--primary-text-color: var(--kui-button-primary-text-color, #ffffff);
	--primary-text-color-hover: var(--kui-button-primary-text-color-hover, #ffffff);
	--primary-text-color-disabled: var(--kui-button-primary-text-color-disabled, #ffffff);
	--primary-text-color-active: var(--kui-button-primary-text-color-active, #ffffff);
	--primary-bg-color: var(--kui-button-primary-bg-color, #2196f3);
	--primary-bg-color-hover: var(--kui-button-primary-bg-color-hover, #0c83e2);
	--primary-bg-color-disabled: var(--kui-button-primary-bg-color-disabled, #2196f3);
	--primary-bg-color-active: var(--kui-button-primary-bg-color-active, #0c7cd5);
	--primary-border-color: var(--kui-button-primary-border-color, #2196f3);
	--primary-border-color-hover: var(--kui-button-primary-border-color-hover, #0c7cd5);
	--primary-border-color-disabled: var(--kui-button-primary-border-color-disabled, #2196f3);
	--primary-border-color-active: var(--kui-button-primary-border-color-active, #0b75c9);
	--primary-box-shadow: var(--kui-button-primary-box-shadow, 0 0 0 0 rgba(66, 166, 245, 0.5));
    --primary-box-shadow-active: var(--kui-button-primary-box-shadow-active, 0 0 0 0 rgba(66, 166, 245, 0.5));

    --secondary-text-color: var(--kui-button-secondary-text-color, #ffffff);
	--secondary-text-color-hover: var(--kui-button-secondary-text-color-hover, #ffffff);
	--secondary-text-color-disabled: var(--kui-button-secondary-text-color-disabled, #ffffff);
	--secondary-text-color-active: var(--kui-button-secondary-text-color-active, #ffffff);
	--secondary-bg-color: var(--kui-button-secondary-bg-color, #868e96);
	--secondary-bg-color-hover: var(--kui-button-secondary-bg-color-hover, #727b84);
	--secondary-bg-color-disabled: var(--kui-button-secondary-bg-color-disabled, #868e96);
	--secondary-bg-color-active: var(--kui-button-secondary-bg-color-active, #6c757d);
	--secondary-border-color: var(--kui-button-secondary-border-color, #868e96);
	--secondary-border-color-hover: var(--kui-button-secondary-border-color-hover, #6c757d);
	--secondary-border-color-disabled: var(--kui-button-secondary-border-color-disabled, #868e96);
	--secondary-border-color-active: var(--kui-button-secondary-border-color-active, #666e76);
	--secondary-box-shadow: var(--kui-button-secondary-box-shadow, 0 0 0 0 rgba(152, 159, 166, 0.5));
    --secondary-box-shadow-active: var(--kui-button-secondary-box-shadow-active,  rgba(152, 159, 166, 0.5));
    
    --info-text-color: var(--kui-button-info-text-color, #ffffff);
	--info-text-color-hover: var(--kui-button-info-text-color-hover, #ffffff);
	--info-text-color-disabled: var(--kui-button-info-text-color-disabled, #ffffff);
	--info-text-color-active: var(--kui-button-info-text-color-active, #ffffff);
	--info-bg-color: var(--kui-button-info-bg-color, #03a9f4);
	--info-bg-color-hover: var(--kui-button-info-bg-color-hover, #038fce);
	--info-bg-color-disabled: var(--kui-button-info-bg-color-disabled, #03a9f4);
	--info-bg-color-active: var(--kui-button-info-bg-color-active, #0286c2);
	--info-border-color: var(--kui-button-info-border-color, #03a9f4);
	--info-border-color-hover: var(--kui-button-info-border-color-hover, #0286c2);
	--info-border-color-disabled: var(--kui-button-info-border-color-disabled, #03a9f4);
	--info-border-color-active: var(--kui-button-info-border-color-active, #027db5);
	--info-box-shadow: var(--kui-button-info-box-shadow, 0 0 0 0 rgba(41, 182, 246, 0.5));
    --info-box-shadow-active: var(--kui-button-info-box-shadow-active, 0 0 0 0 rgba(41, 182, 246, 0.5));
    
    --dangerous-text-color: var(--kui-button-dangerous-text-color, #ffffff);
	--dangerous-text-color-hover: var(--kui-button-dangerous-text-color-hover, #ffffff);
	--dangerous-text-color-disabled: var(--kui-button-dangerous-text-color-disabled, #ffffff);
	--dangerous-text-color-active: var(--kui-button-dangerous-text-color-active, #ffffff);
	--dangerous-bg-color: var(--kui-button-dangerous-bg-color, #ff6b68);
	--dangerous-bg-color-hover: var(--kui-button-dangerous-bg-color-hover, #ff4642);
	--dangerous-bg-color-disabled: var(--kui-button-dangerous-bg-color-disabled, #ff6b68);
	--dangerous-bg-color-active: var(--kui-button-dangerous-bg-color-active, #ff3935);
	--dangerous-border-color: var(--kui-button-dangerous-border-color, #ff6b68);
	--dangerous-border-color-hover: var(--kui-button-dangerous-border-color, #ff3935);
	--dangerous-border-color-disabled: var(--kui-button-dangerous-border-color, #ff6b68);
	--dangerous-border-color-active: var(--kui-button-dangerous-border-color, #ff2d28);
	--dangerous-box-shadow: var(--kui-button-dangerous-box-shadow, 0 0 0 0 rgba(255, 129, 127, 0.5));
    --dangerous-box-shadow-active: var(--kui-button-dangerous-box-shadow-active, 0 0 0 0 rgba(255, 129, 127, 0.5));
    
    --warning-text-color: var(--kui-button-warning-text-color, #ffffff);
	--warning-text-color-hover: var(--kui-button-warning-text-color-hover, #ffffff);
	--warning-text-color-disabled: var(--kui-button-warning-text-color-disabled, #ffffff);
	--warning-text-color-active: var(--kui-button-warning-text-color-active, #ffffff);
	--warning-bg-color: var(--kui-button-warning-bg-color, #ffc721);
	--warning-bg-color-hover: var(--kui-button-warning-bg-color-hover, #fabb00);
	--warning-bg-color-disabled: var(--kui-button-warning-bg-color-disabled, #ffc721);
	--warning-bg-color-active: var(--kui-button-warning-bg-color-active, #edb100);
	--warning-border-color: var(--kui-button-warning-border-color, #ffc721);
	--warning-border-color-hover: var(--kui-button-warning-border-color-hover, #edb100);
	--warning-border-color-disabled: var(--kui-button-warning-border-color-disabled, #ffc721);
	--warning-border-color-active: var(--kui-button-warning-border-color-active, #e0a800);
	--warning-box-shadow: var(--kui-button-warning-box-shadow, 0 0 0 0 rgba(255, 207, 66, 0.5));
    --warning-box-shadow-active: var(--kui-button-warning-box-shadow-active, 0 0 0 0 rgba(255, 207, 66, 0.5));
    
    --success-text-color: var(--kui-button-success-text-color, #ffffff);
	--success-text-color-hover: var(--kui-button-success-text-color, #ffffff);
	--success-text-color-disabled: var(--kui-button-success-text-color, #ffffff);
	--success-text-color-active: var(--kui-button-success-text-color, #ffffff);
	--success-bg-color: var(--kui-button-success-bg-color, #32c787);
	--success-bg-color-hover: var(--kui-button-success-bg-color-hover, #2aa872);
	--success-bg-color-disabled: var(--kui-button-success-bg-color-disabled, #32c787);
	--success-bg-color-active: var(--kui-button-success-bg-color-active, #289e6b);
	--success-border-color: var(--kui-button-success-border-color, #32c787);
	--success-border-color-hover: var(--kui-button-success-border-color, #289e6b);
	--success-border-color-disabled: var(--kui-button-success-border-color, #32c787);
	--success-border-color-active: var(--kui-button-success-border-color, #259464);
	--success-box-shadow: var(--kui-button-success-box-shadow, 0 0 0 0 rgba(81, 207, 153, 0.5));
    --success-box-shadow-active: var(--kui-button-success-box-shadow-active, 0 0 0 0 rgba(81, 207, 153, 0.5));
    
    --link-text-color: var(--kui-button-link-text-color, #2196f3);
	--link-text-color-hover: var(--kui-button-link-text-color, #0a6ebd);
	--link-text-color-disabled: var(--kui-button-link-text-color, #868e96);
	--link-text-decoration: var(--kui-button-link-text-decoration, underline);
}

/* Clear the default button style */
.kui-button {
	/* Change the font styles in all browsers */
	font-family: inherit;
	line-height: 1.15;
	/* Remove the margin in Firefox and Safari */
	margin: 0;
	/* Show the overflow in IE */
	overflow: visible;
	/* Remove the inheritance of text transform in Edge, Firefox, and IE */
	text-transform: none;
	/* removes any style keeping only the text*/
	background: none;
	border: none;
}

/* Correct the inability to style clickable types in iOS and Safari */
.kui-button,
[type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
}

.kui-button {
	display: inline-block;
	color: #747a80;
	text-align: center;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: transparent;
	line-height: var(--line-height);

	font-weight: var(--font-weight);
	font-size: var(--font-size);
	font-family: var(--font-family);
	padding-top: var(--padding-top);
	padding-bottom: var(--padding-bottom);
	padding-left: var(--padding-left);
	padding-right: var(--padding-right);
	margin-top: var(--margin-top);
	margin-bottom: var(--margin-bottom);
	margin-left: var(--margin-left);
	margin-right: var(--margin-right);
	border-width: var(--border-size);
	border-style: var(--border-style);
	border-color: var(--border-color);
	border-radius: var(--border-radius);

	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
		box-shadow 0.15s ease-in-out;
}
/* Basic button style */
.kui-button:hover {
	text-decoration: none;
}
.kui-button:focus,
.kui-button.focus {
	outline: 0;
}
.kui-button.disabled,
.kui-button:disabled {
	opacity: 0.65;
}
.kui-button:not(:disabled),
.kui-button:not(.disabled) {
	cursor: pointer;
}

/* Default button style */
.kui-button-default {
	color: var(--default-text-color);
	background-color: var(--default-bg-color);
	border-color: var(--default-border-color);
}
.kui-button-default:hover {
	color: var(--default-text-color-hover);
	background-color: var(--default-bg-color-hover);
	border-color: var(--default-border-color-hover);
}
.kui-button-default:focus,
.kui-button-default.focus {
    box-shadow: var(--default-box-shadow);
}
.kui-button-default.disabled,
.kui-button-default:disabled {
	color: var(--default-text-color-disabled);
	background-color: var(--default-bg-color-disabled);
	border-color: var(--default-border-color-disabled);
}
.kui-button-default:not(:disabled):not(.disabled):active,
.kui-button-default:not(:disabled):not(.disabled).active {
	color: var(--default-text-color-active);
	background-color: var(--default-bg-color-active);
	border-color: var(--default-border-color-active);
}
.kui-button-default:not(:disabled):not(.disabled):active:focus,
.kui-button-default:not(:disabled):not(.disabled).active:focus {
    box-shadow: var(--default-box-shadow-active);
}

/* Default outline button style */
.kui-button-default.outline {
	color: var(--default-text-color-hover);
	border-color: var(--default-text-color-hover);
	background-color: initial;
}
.kui-button-default.outline:hover {
	color: var(--default-text-color-hover);
	background-color: var(--default-bg-color-hover);
	border-color: var(--default-border-color-hover);
}
.kui-button-default.outline.disabled,
.kui-button-default.outline:disabled {
	color: var(--default-bg-color);
	border-color: var(--default-border-color-hover);
	background-color: initial;
}

/* Primary button style */
.kui-button-primary {
	color: var(--primary-text-color);
	background-color: var(--primary-bg-color);
	border-color: var(--primary-border-color);
}
.kui-button-primary:hover {
	color: var(--primary-text-color-hover);
	background-color: var(--primary-bg-color-hover);
	border-color: var(--primary-border-color-hover);
}
.kui-button-primary:focus,
.kui-button-primary.focus {
    box-shadow: var(--primary-box-shadow);
}
.kui-button-primary.disabled,
.kui-button-primary:disabled {
	color: var(--primary-text-color-disabled);
	background-color: var(--primary-bg-color-disabled);
	border-color: var(--primary-border-color-disabled);
}
.kui-button-primary:not(:disabled):not(.disabled):active,
.kui-button-primary:not(:disabled):not(.disabled).active {
	color: var(--primary-text-color-active);
	background-color: var(--primary-bg-color-active);
	border-color: var(--primary-border-color-active);
}
.kui-button-primary:not(:disabled):not(.disabled):active:focus,
.kui-button-primary:not(:disabled):not(.disabled).active:focus {
    box-shadow: var(--primary-box-shadow-active);
}

/* Primary outline button style */
.kui-button-primary.outline {
	color: var(--primary-border-color);
	background-color: initial;
}
.kui-button-primary.outline:hover {
	color: var(--primary-text-color-hover);
	background-color: var(--primary-bg-color-hover);
}
.kui-button-primary.outline.disabled,
.kui-button-primary.outline:disabled {
	color: var(--primary-border-color);
	background-color: initial;
}

/* Secondary button style */
.kui-button-secondary {
	color: var(--secondary-text-color);
	background-color: var(--secondary-bg-color);
	border-color: var(--secondary-border-color);
}
.kui-button-secondary:hover {
	color: var(--secondary-text-color-hover);
	background-color: var(--secondary-bg-color-hover);
	border-color: var(--secondary-border-color-hover);
}
.kui-button-secondary:focus,
.kui-button-secondary.focus {
    box-shadow: var(--secondary-box-shadow);
}
.kui-button-secondary.disabled,
.kui-button-secondary:disabled {
	color: var(--secondary-text-color-disabled);
	background-color: var(--secondary-bg-color-disabled);
	border-color: var(--secondary-border-color-disabled);
}
.kui-button-secondary:not(:disabled):not(.disabled):active,
.kui-button-secondary:not(:disabled):not(.disabled).active {
	color: var(--secondary-text-color-active);
	background-color: var(--secondary-bg-color-active);
	border-color: var(--secondary-border-color-active);
}
.kui-button-secondary:not(:disabled):not(.disabled):active:focus,
.kui-button-secondary:not(:disabled):not(.disabled).active:focus {
    box-shadow: var(--secondary-box-shadow-active);
}

/* Secondary outline button style */
.kui-button-secondary.outline {
	color: var(--secondary-border-color);
	background-color: initial;
}
.kui-button-secondary.outline:hover {
	color: var(--secondary-text-color-hover);
	background-color: var(--secondary-bg-color-hover);
}
.kui-button-secondary.outline.disabled,
.kui-button-secondary.outline:disabled {
	color: var(--secondary-border-color);
	background-color: initial;
}

/* Information button style */
.kui-button-info {
	color: var(--info-text-color);
	background-color: var(--info-bg-color);
	border-color: var(--info-border-color);
}
.kui-button-info:hover {
	color: var(--info-text-color-hover);
	background-color: var(--info-bg-color-hover);
	border-color: var(--info-border-color-hover);
}
.kui-button-info:focus,
.kui-button-info.focus {
    box-shadow: var(--info-box-shadow);
}
.kui-button-info.disabled,
.kui-button-info:disabled {
	color: var(--info-text-color-disabled);
	background-color: var(--info-bg-color-disabled);
	border-color: var(--info-border-color-disabled);
}
.kui-button-info:not(:disabled):not(.disabled):active,
.kui-button-info:not(:disabled):not(.disabled).active {
	color: var(--info-text-color-active);
	background-color: var(--info-bg-color-active);
	border-color: var(--info-border-color-active);
}
.kui-button-info:not(:disabled):not(.disabled):active:focus,
.kui-button-info:not(:disabled):not(.disabled).active:focus {
    box-shadow: var(--info-box-shadow-active);
}

/* Information outline button style */
.kui-button-info.outline {
	color: var(--info-border-color);
	background-color: initial;
}
.kui-button-info.outline:hover {
	color: var(--info-text-color-hover);
	background-color: var(--info-bg-color-hover);
}
.kui-button-info.outline.disabled,
.kui-button-info.outline:disabled {
	color: var(--info-border-color);
	background-color: initial;
}

/* Dangerous button style */
.kui-button-dangerous {
	color: var(--dangerous-text-color);
	background-color: var(--dangerous-bg-color);
	border-color: var(--dangerous-border-color);
}
.kui-button-dangerous:hover {
	color: var(--dangerous-text-color-hover);
	background-color: var(--dangerous-bg-color-hover);
	border-color: var(--dangerous-border-color-hover);
}
.kui-button-dangerous:focus,
.kui-button-dangerous.focus {
    box-shadow: var(--dangerous-box-shadow);
}
.kui-button-dangerous.disabled,
.kui-button-dangerous:disabled {
	color: var(--dangerous-text-color-disabled);
	background-color: var(--dangerous-bg-color-disabled);
	border-color: var(--dangerous-border-color-disabled);
}
.kui-button-dangerous:not(:disabled):not(.disabled):active,
.kui-button-dangerous:not(:disabled):not(.disabled).active {
	color: var(--dangerous-text-color-active);
	background-color: var(--dangerous-bg-color-active);
	border-color: var(--dangerous-border-color-active);
}
.kui-button-dangerous:not(:disabled):not(.disabled):active:focus,
.kui-button-dangerous:not(:disabled):not(.disabled).active:focus {
    box-shadow: var(--dangerous-box-shadow-active);
}

/* Dangerous outline button style */
.kui-button-dangerous.outline {
	color: var(--dangerous-border-color);
	background-color: initial;
}
.kui-button-dangerous.outline:hover {
	color: var(--dangerous-text-color-hover);
	background-color: var(--dangerous-bg-color-hover);
}
.kui-button-dangerous.outline.disabled,
.kui-button-dangerous.outline:disabled {
	color: var(--dangerous-border-color);
	background-color: initial;
}

/* Warning button style */
.kui-button-warning {
	color: var(--warning-text-color);
	background-color: var(--warning-bg-color);
	border-color: var(--warning-border-color);
}
.kui-button-warning:hover {
	color: var(--warning-text-color-hover);
	background-color: var(--warning-bg-color-hover);
	border-color: var(--warning-border-color-hover);
}
.kui-button-warning:focus,
.kui-button-warning.focus {
    box-shadow: var(--warning-box-shadow);
}
.kui-button-warning.disabled,
.kui-button-warning:disabled {
	color: var(--warning-text-color-disabled);
	background-color: var(--warning-bg-color-disabled);
	border-color: var(--warning-border-color-disabled);
}
.kui-button-warning:not(:disabled):not(.disabled):active,
.kui-button-warning:not(:disabled):not(.disabled).active {
	color: var(--warning-text-color-active);
	background-color: var(--warning-bg-color-active);
	border-color: var(--warning-border-color-active);
}
.kui-button-warning:not(:disabled):not(.disabled):active:focus,
.kui-button-warning:not(:disabled):not(.disabled).active:focus {
    box-shadow: var(--warning-box-shadow-active);
}

/* Warning outline button style */
.kui-button-warning.outline {
	color: var(--warning-border-color);
	background-color: initial;
}
.kui-button-warning.outline:hover {
	color: var(--warning-text-color-hover);
	background-color: var(--warning-bg-color-hover);
}
.kui-button-warning.outline.disabled,
.kui-button-warning.outline:disabled {
	color: var(--warning-border-color);
	background-color: initial;
}

/* Success button style */
.kui-button-success {
	color: var(--success-text-color);
	background-color: var(--success-bg-color);
	border-color: var(--success-border-color);
}
.kui-button-success:hover {
	color: var(--success-text-color-hover);
	background-color: var(--success-bg-color-hover);
	border-color: var(--success-border-color-hover);
}
.kui-button-success:focus,
.kui-button-success.focus {
    box-shadow: var(--success-box-shadow);
}
.kui-button-success.disabled,
.kui-button-success:disabled {
	color: var(--success-text-color-disabled);
	background-color: var(--success-bg-color-disabled);
	border-color: var(--success-border-color-disabled);
}
.kui-button-success:not(:disabled):not(.disabled):active,
.kui-button-success:not(:disabled):not(.disabled).active {
	color: var(--success-text-color-active);
	background-color: var(--success-bg-color-active);
	border-color: var(--success-border-color-active);
}
.kui-button-success:not(:disabled):not(.disabled):active:focus,
.kui-button-success:not(:disabled):not(.disabled).active:focus {
    box-shadow: var(--success-box-shadow-active);
}

/* Success outline button style */
.kui-button-success.outline {
	color: var(--success-border-color);
	background-color: initial;
}
.kui-button-success.outline:hover {
	color: var(--success-text-color-hover);
	background-color: var(--success-bg-color-hover);
}
.kui-button-success.outline.disabled,
.kui-button-success.outline:disabled {
	color: var(--success-border-color);
	background-color: initial;
}

/* Link button style */
.kui-button-link {
	font-weight: 400;
	color: var(--link-text-color);
    text-decoration: var(--link-text-decoration);
}
.kui-button-link:hover {
	color: var(--link-text-color-hover);
	text-decoration: var(--link-text-decoration);
}
.kui-button-link:focus,
.kui-button-link.focus {
	text-decoration: var(--link-text-decoration);
	box-shadow: none;
}
.kui-button-link:disabled,
.kui-button-link.disabled {
	color: var(--link-text-color-disabled);
	pointer-events: none;
}

/* Small button style */
.kui-button-small {
	font-size: var(--font-size-small);
}
/* Large button style */
.kui-button-large {
	font-size: var(--font-size-large);
}

/* Block button style */
.kui-button-block {
	display: block;
	width: 100%;
}
