%shared-variables {
	--default-text-color: var(--kui-default-text-color, #525a62);
	--default-text-color-hover: var(--kui-default-text-color-hover, #525a62);
	--default-text-color-disabled: var(--kui-default-text-color-disabled, #525a62);
	--default-text-color-active: var(--kui-default-text-color-active, #525a62);
	--default-bg-color: var(--kui-default-bg-color, #f6f6f6);
	--default-bg-color-hover: var(--kui-default-bg-color-hover, #e3e3e3);
	--default-bg-color-disabled: var(--kui-default-bg-color-disabled, #f6f6f6);
	--default-bg-color-active: var(--kui-default-bg-color-active, #dddcdc);
	--default-border-color: var(--kui-default-border-color, #f6f6f6);
	--default-border-color-hover: var(--kui-default-border-color-hover, #dddcdc);
	--default-border-color-disabled: var(--kui-default-border-color-disabled, #f6f6f6);
	--default-border-color-active: var(--kui-default-border-color-active, #d6d6d6);
	--default-box-shadow: var(--kui-default-box-shadow, 0 0 0 0 rgba(221, 223, 224, 0.5));
	--default-box-shadow-active: var(--kui-default-box-shadow-active, 0 0 0 0 rgba(221, 223, 224, 0.5));

	--primary-text-color: var(--kui-primary-text-color, #ffffff);
	--primary-text-color-hover: var(--kui-primary-text-color-hover, #ffffff);
	--primary-text-color-disabled: var(--kui-primary-text-color-disabled, #ffffff);
	--primary-text-color-active: var(--kui-primary-text-color-active, #ffffff);
	--primary-bg-color: var(--kui-primary-bg-color, #2196f3);
	--primary-bg-color-hover: var(--kui-primary-bg-color-hover, #0c83e2);
	--primary-bg-color-disabled: var(--kui-primary-bg-color-disabled, #2196f3);
	--primary-bg-color-active: var(--kui-primary-bg-color-active, #0c7cd5);
	--primary-border-color: var(--kui-primary-border-color, #2196f3);
	--primary-border-color-hover: var(--kui-primary-border-color-hover, #0c7cd5);
	--primary-border-color-disabled: var(--kui-primary-border-color-disabled, #2196f3);
	--primary-border-color-active: var(--kui-primary-border-color-active, #0b75c9);
	--primary-box-shadow: var(--kui-primary-box-shadow, 0 0 0 0 rgba(66, 166, 245, 0.5));
    --primary-box-shadow-active: var(--kui-primary-box-shadow-active, 0 0 0 0 rgba(66, 166, 245, 0.5));

    --secondary-text-color: var(--kui-secondary-text-color, #ffffff);
	--secondary-text-color-hover: var(--kui-secondary-text-color-hover, #ffffff);
	--secondary-text-color-disabled: var(--kui-secondary-text-color-disabled, #ffffff);
	--secondary-text-color-active: var(--kui-secondary-text-color-active, #ffffff);
	--secondary-bg-color: var(--kui-secondary-bg-color, #868e96);
	--secondary-bg-color-hover: var(--kui-secondary-bg-color-hover, #727b84);
	--secondary-bg-color-disabled: var(--kui-secondary-bg-color-disabled, #868e96);
	--secondary-bg-color-active: var(--kui-secondary-bg-color-active, #6c757d);
	--secondary-border-color: var(--kui-secondary-border-color, #868e96);
	--secondary-border-color-hover: var(--kui-secondary-border-color-hover, #6c757d);
	--secondary-border-color-disabled: var(--kui-secondary-border-color-disabled, #868e96);
	--secondary-border-color-active: var(--kui-secondary-border-color-active, #666e76);
	--secondary-box-shadow: var(--kui-secondary-box-shadow, 0 0 0 0 rgba(152, 159, 166, 0.5));
    --secondary-box-shadow-active: var(--kui-secondary-box-shadow-active,  rgba(152, 159, 166, 0.5));
    
    --info-text-color: var(--kui-info-text-color, #ffffff);
	--info-text-color-hover: var(--kui-info-text-color-hover, #ffffff);
	--info-text-color-disabled: var(--kui-info-text-color-disabled, #ffffff);
	--info-text-color-active: var(--kui-info-text-color-active, #ffffff);
	--info-bg-color: var(--kui-info-bg-color, #03a9f4);
	--info-bg-color-hover: var(--kui-info-bg-color-hover, #038fce);
	--info-bg-color-disabled: var(--kui-info-bg-color-disabled, #03a9f4);
	--info-bg-color-active: var(--kui-info-bg-color-active, #0286c2);
	--info-border-color: var(--kui-info-border-color, #03a9f4);
	--info-border-color-hover: var(--kui-info-border-color-hover, #0286c2);
	--info-border-color-disabled: var(--kui-info-border-color-disabled, #03a9f4);
	--info-border-color-active: var(--kui-info-border-color-active, #027db5);
	--info-box-shadow: var(--kui-info-box-shadow, 0 0 0 0 rgba(41, 182, 246, 0.5));
    --info-box-shadow-active: var(--kui-info-box-shadow-active, 0 0 0 0 rgba(41, 182, 246, 0.5));
    
    --dangerous-text-color: var(--kui-dangerous-text-color, #ffffff);
	--dangerous-text-color-hover: var(--kui-dangerous-text-color-hover, #ffffff);
	--dangerous-text-color-disabled: var(--kui-dangerous-text-color-disabled, #ffffff);
	--dangerous-text-color-active: var(--kui-dangerous-text-color-active, #ffffff);
	--dangerous-bg-color: var(--kui-dangerous-bg-color, #ff6b68);
	--dangerous-bg-color-hover: var(--kui-dangerous-bg-color-hover, #ff4642);
	--dangerous-bg-color-disabled: var(--kui-dangerous-bg-color-disabled, #ff6b68);
	--dangerous-bg-color-active: var(--kui-dangerous-bg-color-active, #ff3935);
	--dangerous-border-color: var(--kui-dangerous-border-color, #ff6b68);
	--dangerous-border-color-hover: var(--kui-dangerous-border-color, #ff3935);
	--dangerous-border-color-disabled: var(--kui-dangerous-border-color, #ff6b68);
	--dangerous-border-color-active: var(--kui-dangerous-border-color, #ff2d28);
	--dangerous-box-shadow: var(--kui-dangerous-box-shadow, 0 0 0 0 rgba(255, 129, 127, 0.5));
    --dangerous-box-shadow-active: var(--kui-dangerous-box-shadow-active, 0 0 0 0 rgba(255, 129, 127, 0.5));
    
    --warning-text-color: var(--kui-warning-text-color, #ffffff);
	--warning-text-color-hover: var(--kui-warning-text-color-hover, #ffffff);
	--warning-text-color-disabled: var(--kui-warning-text-color-disabled, #ffffff);
	--warning-text-color-active: var(--kui-warning-text-color-active, #ffffff);
	--warning-bg-color: var(--kui-warning-bg-color, #ffc721);
	--warning-bg-color-hover: var(--kui-warning-bg-color-hover, #fabb00);
	--warning-bg-color-disabled: var(--kui-warning-bg-color-disabled, #ffc721);
	--warning-bg-color-active: var(--kui-warning-bg-color-active, #edb100);
	--warning-border-color: var(--kui-warning-border-color, #ffc721);
	--warning-border-color-hover: var(--kui-warning-border-color-hover, #edb100);
	--warning-border-color-disabled: var(--kui-warning-border-color-disabled, #ffc721);
	--warning-border-color-active: var(--kui-warning-border-color-active, #e0a800);
	--warning-box-shadow: var(--kui-warning-box-shadow, 0 0 0 0 rgba(255, 207, 66, 0.5));
    --warning-box-shadow-active: var(--kui-warning-box-shadow-active, 0 0 0 0 rgba(255, 207, 66, 0.5));
    
    --success-text-color: var(--kui-success-text-color, #ffffff);
	--success-text-color-hover: var(--kui-success-text-color, #ffffff);
	--success-text-color-disabled: var(--kui-success-text-color, #ffffff);
	--success-text-color-active: var(--kui-success-text-color, #ffffff);
	--success-bg-color: var(--kui-success-bg-color, #32c787);
	--success-bg-color-hover: var(--kui-success-bg-color-hover, #2aa872);
	--success-bg-color-disabled: var(--kui-success-bg-color-disabled, #32c787);
	--success-bg-color-active: var(--kui-success-bg-color-active, #289e6b);
	--success-border-color: var(--kui-success-border-color, #32c787);
	--success-border-color-hover: var(--kui-success-border-color, #289e6b);
	--success-border-color-disabled: var(--kui-success-border-color, #32c787);
	--success-border-color-active: var(--kui-success-border-color, #259464);
	--success-box-shadow: var(--kui-success-box-shadow, 0 0 0 0 rgba(81, 207, 153, 0.5));
    --success-box-shadow-active: var(--kui-success-box-shadow-active, 0 0 0 0 rgba(81, 207, 153, 0.5));
    
    --link-text-color: var(--kui-link-text-color, #2196f3);
	--link-text-color-hover: var(--kui-link-text-color, #0a6ebd);
	--link-text-color-disabled: var(--kui-link-text-color, #868e96);
	--link-text-decoration: var(--kui-link-text-decoration, underline);
}